<section class="space-y-10 lg:space-y-16">
	<f:form id="filter-form" class="space-y-5 js-filter-products" action="filter" method="post">
		<div class="ndz-product-search ndz-input-field relative py-3">
			<label class="sr-only" for="search"><f:translate key="tx_products_domain_model_product.search" extensionName="products" /></label>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current absolute top-1/2 left-2 -translate-y-1/2">
				<path d="M11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C12.8487 19 14.551 18.3729 15.9056 17.3199L19.2929 20.7071C19.6834 21.0976 20.3166 21.0976 20.7071 20.7071C21.0976 20.3166 21.0976 19.6834 20.7071 19.2929L17.3199 15.9056C18.3729 14.551 19 12.8487 19 11C19 6.58172 15.4183 3 11 3ZM5 11C5 7.68629 7.68629 5 11 5C14.3137 5 17 7.68629 17 11C17 14.3137 14.3137 17 11 17C7.68629 17 5 14.3137 5 11Z"></path>
			</svg>
			<f:form.textfield id="search" placeholder="<f:translate key='tx_products_domain_model_product.entersearch' extensionName='products' />" name="searchquery" value="{searchquery}" class="pl-8" />
		</div>
		<div class="flex items-center flex-wrap gap-3">
			<div class="ndz-multiselect" data-multiselect>
				<button type="button" class="ndz-btn rounded-full js-multiselect-trigger ndz-multiselect-trigger" aria-expanded="false" aria-haspopup="listbox" aria-controls="multiselect-list">
					<span class="js-multiselect-label"><f:translate key="tx_products_domain_model_product.topics" extensionName="products"/></span>
				</button>
				<div class="js-multiselect-dropdown ndz-multiselect-dropdown" id="multiselect-list" role="listbox" aria-multiselectable="true" hidden>
					<div class="ndz-multiselect-dropdown-inner">
						<f:for each="{categories}" as="category">
							<label class="js-multiselect-option ndz-multiselect-option js-categories" role="option" aria-selected="false">
								<f:if condition="{selectedCategories.{category.uid}} > -1">
									<f:then>
										<f:form.checkbox name="categories[]" value="{category.uid}" checked="checked"></f:form.checkbox>{category.name}
									</f:then>
									<f:else>
										<f:form.checkbox name="categories[]" value="{category.uid}"></f:form.checkbox>{category.name}
									</f:else>
								</f:if>
							</label>
						</f:for>
					</div>
					<footer class="border-t border-lightgrey px-5 py-2">
						<f:form.submit class="ndz-btn rounded-full w-full js-show-products" value="<f:translate key='tx_products_domain_model_product.showstories' extensionName='products' />"></f:form.submit>
					</footer>
				</div>
			</div>
			<div class="ndz-multiselect" data-multiselect>
				<button type="button" class="ndz-btn rounded-full js-multiselect-trigger ndz-multiselect-trigger" aria-expanded="false" aria-haspopup="listbox" aria-controls="multiselect-list">
					<span class="js-multiselect-label"><f:translate key="tx_products_domain_model_product.sections" extensionName="products"/></span>
				</button>
				<div class="js-multiselect-dropdown ndz-multiselect-dropdown" id="multiselect-list" role="listbox" aria-multiselectable="true" hidden>
					<div class="ndz-multiselect-dropdown-inner">
						<f:for each="{tags}" as="tag">
							<label class="js-multiselect-option ndz-multiselect-option js-tags" role="option" aria-selected="false">
								<f:if condition="{selectedTags.{tag.uid}} > -1">
									<f:then>
										<f:form.checkbox name="tags[]" value="{tag.uid}" checked="checked"></f:form.checkbox>{tag.name}
									</f:then>
									<f:else>
										<f:form.checkbox name="tags[]" value="{tag.uid}"></f:form.checkbox>{tag.name}
									</f:else>
								</f:if>
							</label>
						</f:for>
					</div>
					<footer class="border-t border-lightgrey px-5 py-2">
						<f:form.submit class="ndz-btn rounded-full w-full js-show-products" value="<f:translate key='tx_products_domain_model_product.showstories' extensionName='products' />"></f:form.submit>
					</footer>
				</div>
			</div>
			<f:if condition="{selectedCategories}">
				<f:for each="{categories}" as="category">
					<f:if condition="{selectedCategories.{category.uid}} > -1">
						<f:then>
							<div class="ndz-btn ndz-btn-neutral ndz-btn-outline rounded-full pointer-events-none">
								<span>{category.name}</span>
								<button type="button" class="cursor-pointer pointer-events-auto js-multiselect-chip-remove" aria-label="Filter {category.name} entfernen" data-cat="{category.uid}">
									<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" class="fill-current">
										<path d="M11.7,10.24c.4.4.4,1.05,0,1.46-.2.2-.46.3-.73.3s-.53-.1-.73-.3l-4.24-4.24L1.76,11.7c-.2.2-.46.3-.73.3s-.53-.1-.73-.3c-.4-.4-.4-1.05,0-1.46l4.24-4.24L.3,1.76c-.4-.4-.4-1.05,0-1.46s1.05-.4,1.46,0l4.24,4.24L10.24.3c.4-.4,1.05-.4,1.46,0,.4.4.4,1.05,0,1.46l-4.24,4.24,4.24,4.24Z"></path>
									</svg>
								</button>
							</div>
						</f:then>
					</f:if>
				</f:for>
			</f:if>
			<f:if condition="{selectedTags}">
				<f:for each="{tags}" as="tag">
					<f:if condition="{selectedTags.{tag.uid}} > -1">
						<f:then>
							<div class="ndz-btn ndz-btn-neutral ndz-btn-outline rounded-full pointer-events-none">
								<span>{tag.name}</span>
								<button type="button" class="cursor-pointer pointer-events-auto js-multiselect-chip-remove" aria-label="Filter {tag.name} entfernen" data-tag="{tag.uid}">
									<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" class="fill-current">
										<path d="M11.7,10.24c.4.4.4,1.05,0,1.46-.2.2-.46.3-.73.3s-.53-.1-.73-.3l-4.24-4.24L1.76,11.7c-.2.2-.46.3-.73.3s-.53-.1-.73-.3c-.4-.4-.4-1.05,0-1.46l4.24-4.24L.3,1.76c-.4-.4-.4-1.05,0-1.46s1.05-.4,1.46,0l4.24,4.24L10.24.3c.4-.4,1.05-.4,1.46,0,.4.4.4,1.05,0,1.46l-4.24,4.24,4.24,4.24Z"></path>
									</svg>
								</button>
							</div>
						</f:then>
					</f:if>
				</f:for>
			</f:if>
			<f:link.page class="ndz-btn ndz-btn-link" pageUid="3"><f:translate key="tx_products_domain_model_product.resetfilter" extensionName="products" /></f:link.page>
		</div>
		<f:form.textfield class="js-page" type="hidden" name="page" value="{currentpage}" />
		<f:form.textfield class="js-pagesize" type="hidden" name="pagesize" value="{pagesize}" />
	</f:form>
	<div aria-label="Suchresultate" class="space-y-5">
		<div class="flex items-center justify-between gap-5">
			<h2 class="font-bold"><span class="text-darkgrey">{insightscount}</span> <f:translate key="tx_products_domain_model_product.of" extensionName="products" /> {insightsallcount} <f:translate key="tx_products_domain_model_product.stories" extensionName="products" /></h2>
			<ul class="flex items-center gap-x-2">
				<li>
					<button type="submit" class="ndz-btn ndz-btn-primary ndz-btn-circle" form="filter-form" name="sort">
						<svg xmlns="http://www.w3.org/2000/svg" class="fill-current" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m196-376-23 70q-4 11-14 18.5t-22 7.5q-20 0-32.5-16.5T100-333l120-321q5-12 15-19t23-7h30q13 0 23 7t15 19l121 323q7 19-4.5 35T411-280q-12 0-22-7.5T375-306l-25-70H196Zm24-68h104l-48-150h-6l-50 150Zm418 92h166q15 0 25.5 10.5T840-316q0 15-10.5 25.5T804-280H572q-10 0-17-7t-7-17v-38q0-7 2-13.5t7-11.5l193-241H592q-15 0-25.5-10.5T556-644q0-15 10.5-25.5T592-680h222q10 0 17 7t7 17v38q0 7-2 13.5t-7 11.5L638-352ZM384-760q-7 0-9.5-6t2.5-11l89-89q6-6 14-6t14 6l89 89q5 5 2.5 11t-9.5 6H384Zm82 666-89-89q-5-5-2.5-11t9.5-6h192q7 0 9.5 6t-2.5 11l-89 89q-6 6-14 6t-14-6Z"/></svg>
					</button>
				</li>
				<li>
					<button type="submit" class="ndz-btn ndz-btn-primary ndz-btn-circle" form="filter-form" name="listview">
						<svg xmlns="http://www.w3.org/2000/svg" class="fill-current" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M320-600q-17 0-28.5-11.5T280-640q0-17 11.5-28.5T320-680h480q17 0 28.5 11.5T840-640q0 17-11.5 28.5T800-600H320Zm0 160q-17 0-28.5-11.5T280-480q0-17 11.5-28.5T320-520h480q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H320Zm0 160q-17 0-28.5-11.5T280-320q0-17 11.5-28.5T320-360h480q17 0 28.5 11.5T840-320q0 17-11.5 28.5T800-280H320ZM160-600q-17 0-28.5-11.5T120-640q0-17 11.5-28.5T160-680q17 0 28.5 11.5T200-640q0 17-11.5 28.5T160-600Zm0 160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520q17 0 28.5 11.5T200-480q0 17-11.5 28.5T160-440Zm0 160q-17 0-28.5-11.5T120-320q0-17 11.5-28.5T160-360q17 0 28.5 11.5T200-320q0 17-11.5 28.5T160-280Z"/></svg>
					</button>
				</li>
				<li>
					<button type="submit" class="ndz-btn ndz-btn-primary ndz-btn-circle ndz-btn-active" form="filter-form" name="cardview">
						<svg xmlns="http://www.w3.org/2000/svg" class="fill-current" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M200-520q-33 0-56.5-23.5T120-600v-160q0-33 23.5-56.5T200-840h160q33 0 56.5 23.5T440-760v160q0 33-23.5 56.5T360-520H200Zm0 400q-33 0-56.5-23.5T120-200v-160q0-33 23.5-56.5T200-440h160q33 0 56.5 23.5T440-360v160q0 33-23.5 56.5T360-120H200Zm400-400q-33 0-56.5-23.5T520-600v-160q0-33 23.5-56.5T600-840h160q33 0 56.5 23.5T840-760v160q0 33-23.5 56.5T760-520H600Zm0 400q-33 0-56.5-23.5T520-200v-160q0-33 23.5-56.5T600-440h160q33 0 56.5 23.5T840-360v160q0 33-23.5 56.5T760-120H600ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Zm400-400Zm0 240Zm-240 0Zm0-240Z"/></svg>
					</button>
				</li>
			</ul>
		</div>
		<f:if condition="{insights}">
			<f:then>
				<div class="grid gap-x-3 gap-y-5 grid-cols-2 md:grid-cols-3 xl:gap-x-8 xl:gap-y-10">
					<f:for each="{insights}" as="insight">
						<f:render partial="Insight/List" arguments="{insight:insight}" />
					</f:for>
				</div>
				<f:if condition="{pages -> f:count()} > 1">
					<div class="flex flex-wrap items-center justify-between gap-5 mt-10">
						<div class="flex items-center gap-3 flex-1">
							<select id="pages" class="js-goto-pagesize pl-2 pr-7 py-1 text-blue border-1 border-blue rounded-lg bg-[url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213.99%22%20height%3D%227.89%22%20viewBox%3D%220%200%2013.99%207.89%22%3E%3Cpath%20d%3D%22M13.7.29c.39.39.39%2C1.02%2C0%2C1.41l-5.82%2C5.82c-.49.49-1.28.49-1.77%2C0L.29%2C1.7C-.1%2C1.31-.1.68.29.29.68-.1%2C1.31-.1%2C1.7.29l5.29%2C5.29L12.28.29c.39-.39%2C1.02-.39%2C1.41%2C0h.01Z%22%20style%3D%22fill%3A%23001280%3B%22%2F%3E%3C%2Fsvg%3E)] bg-no-repeat bg-position-[right_0.5rem_center]">
								<option {f:if(condition:'{pagesize} == 12',then:'selected')}>12</option>
								<option {f:if(condition:'{pagesize} == 24',then:'selected')}>24</option>
								<option {f:if(condition:'{pagesize} == 36',then:'selected')}>36</option>
							</select>
							<label for="pages" class="whitespace-nowrap"><f:translate key="tx_products_domain_model_product.perpage" extensionName="products" /></label>
						</div>
						<ul class="flex items-center gap-2">
							<f:for each="{pages}" key="pagenum" as="page">
								<li><a class="{f:if(condition:'{pagenum} == {currentpage}',then:'ndz-btn-active',else:'js-goto-page')} ndz-btn ndz-btn-circle ndz-btn-primary font-normal " data-page="{pagenum}">{pagenum + 1}</a></li>
							</f:for>
						</ul>
						<div class="flex-1"></div>
					</div>
				</f:if>
			</f:then>
			<f:else>
				<div>
					<h3 class="font-bold text-blue text-4.5xl mb-5"><f:translate key="tx_products_domain_model_product.nostoriesfound" extensionName="products" /></h3>
					<p><f:translate key="tx_products_domain_model_product.noresultsfound"  extensionName="products"/><br><f:translate key="tx_products_domain_model_product.continuesearch" extensionName="products" /></p>
				</div>
			</f:else>
		</f:if>
	</div>
</section>

<script>
    document.querySelectorAll('[data-multiselect]').forEach(multiselect => {

    const trigger = multiselect.querySelector('.js-multiselect-trigger');
    const dropdown = multiselect.querySelector('.js-multiselect-dropdown');
    const label = multiselect.querySelector('.js-multiselect-label');
	const defaultLabel = label.textContent.trim();

    const options = [
        ...multiselect.querySelectorAll('.js-multiselect-option')
    ];

    const checkboxes = [
        ...multiselect.querySelectorAll('input[type="checkbox"]')
    ];

    function open() {
        dropdown.hidden = false;
        trigger.setAttribute('aria-expanded', 'true');

        const firstCheckbox = checkboxes[0];
        firstCheckbox.focus();
    }

    function close() {
        dropdown.hidden = true;
        trigger.setAttribute('aria-expanded', 'false');
    }

    function toggle() {
        dropdown.hidden ? open() : close();
    }

    function updateLabel() {

		const selected = checkboxes.filter(
			input => input.checked
		);

		label.textContent = selected.length
			? `${defaultLabel} (${selected.length})`
			: defaultLabel;

			

		options.forEach(option => {

			const checkbox = option.querySelector('input');

			option.setAttribute(
				'aria-selected',
				checkbox.checked
			);

		});

		
	}

    trigger.addEventListener('click', toggle);

    checkboxes.forEach((checkbox, index) => {

        checkbox.addEventListener('change', updateLabel);

        checkbox.addEventListener('keydown', event => {

            switch(event.key){

                case 'ArrowDown':
                    event.preventDefault();

                    if(checkboxes[index + 1]){
                        checkboxes[index + 1].focus();
                    }
                    break;

                case 'ArrowUp':
                    event.preventDefault();

                    if(checkboxes[index - 1]){
                        checkboxes[index - 1].focus();
                    }
                    break;

                case 'Escape':
                    close();
                    trigger.focus();
                    break;
            }

        });

    });

    document.addEventListener('click', event => {

        if(!multiselect.contains(event.target)){
            close();
        }

    });

	 document.querySelectorAll(".js-show-products").forEach(btn => {
		btn.addEventListener("click",target => {
			//reset pagingation
            document.querySelector(".js-page").value = 0;
	 });})
	 
	document.querySelectorAll('.js-multiselect-chip-remove').forEach(chip => {
		chip.addEventListener('click', () => {
			if(typeof chip.dataset.cat !== "undefined"){
				const cat = chip.dataset.cat;
				let checkbox = multiselect.querySelector(`.js-categories input[value="${cat}"]`);
				if (checkbox && checkbox.checked) {
					checkbox.checked = false;
				}
			}
			if(typeof chip.dataset.tag !== "undefined"){
				const tag = chip.dataset.tag;
				let checkbox = multiselect.querySelector(`.js-tags input[value="${tag}"]`);
				if (checkbox && checkbox.checked) {
					checkbox.checked = false;
				}
			}
			setTimeout(function(){
				document.querySelector(".js-show-products").click()},100)
		});
	});

    updateLabel();

	
    document.querySelectorAll("a.js-goto-page").forEach(function(link) {
        link.addEventListener("click", function(e) {
            e.preventDefault();
            document.querySelector(".js-page").value = this.dataset.page;
            document.querySelector("form.js-filter-products").submit();
        });
    });
	if(document.querySelector(".js-goto-pagesize")){

		document.querySelector(".js-goto-pagesize").addEventListener("change", function(e) {
			e.preventDefault();
			document.querySelector(".js-pagesize").value = this.value;
			document.querySelector(".js-page").value = 0;
			document.querySelector("form.js-filter-products").submit();
		});
	}

});
</script>