<div class="relative ndz-carousel-offset">
	<div class="swiper pb-20" data-slides-per-view="auto">
		<div class="swiper-wrapper">
			<f:for each="{insights}" as="insight" iteration="it">
				<f:render partial="Insight/Teaseitem" arguments="{insight:insight}" />
			</f:for>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
	</div>
	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev after:bg-white"></div>
	<div class="swiper-button-next after:bg-white"></div>
</div>