<html xmlns:ndz="http://typo3.org/ns/IndizDigitalGmbh/SteppingStoneSitePackage/ViewHelpers">
<div class="swiper-slide relative text-white space-y-2 w-full sm:w-[49%] lg:w-[32%] xl:space-y-5">
    <f:link.action action="show" pageUid="7" arguments="{insight:insight}" class="absolute inset-0 z-10 mb-0"><span class="sr-only">Link</span></f:link.action>
    <div class="relative bg-white h-0 pb-[65%]">
        <f:if condition="{insight.falMediaCount}">
            <f:then>
                <f:image
                    class="absolute size-full object-contain"
                    image="{insight.falMedia.0}"
                    width="800c"
                    fileExtension="webp"
                    srcset="
                        {f:uri.image(image:insight.falMedia.0, width:'400c', fileExtension: 'webp')} 400w,
                        {f:uri.image(image:insight.falMedia.0, width:'800c', fileExtension: 'webp')} 800w
                    "
                    sizes="(max-width:639px) 100vw, (max-width:1023px) 50vw, (max-width:1439px) 30vw, 410px"
                    loading="lazy"
                    alt="{insight.falMedia.0.alternative}"
                />
            </f:then>
            <f:else>
                <f:image class="absolute size-full object-cover" src="EXT:products/Resources/Public/Images/stepping_umzugkarte_neutral.svg" />
            </f:else>
        </f:if>
    </div>
    <div class="flex-1 space-y-2 xl:space-y-3">
        <p><f:format.date format="d.m.Y">{insight.datetime}</f:format.date>{f:if(condition: '{insight.categories.0.name}', then: ' | <span class="text-orange font-bold">{insight.categories.0.name}</span>')}</p>
        <h3 class="ndz-headline-small text-white">{insight.title}</h3>
        <p>{insight.teaser -> f:format.crop(maxCharacters: 150)}</p>
    </div>
</div>
</html>