<div class="-mx-5 p-5 space-y-3 bg-grey-100 md:-mx-10 md:p-10 lg:py-12 lg:-mx-20 lg:px-20 lg:space-y-5 xl:space-y-12">
    <h2 class="text-base text-blue font-extrabold md:text-xl lg:text-2xl xl:text-4xl"><span class="js-orderform-title"><f:translate key="tx_products_domain_model_product.request_for" /></span> <span class="js-order-package-name-text"></span></h2>
    <f:form.textfield type="hidden" class="js-order-type" property="ordertype" value="" />
    <f:form.textfield type="hidden" class="js-order-package-name" property="ordername" value="" />
    <f:form.textfield type="hidden" class="js-order-package" property="packageUid" value="" />
    <f:form.textfield type="hidden" class="js-order-product" property="productUid" value="" />
    <f:form.textfield class="js-order-total" type="hidden" name="order[total]" value="{personalised_package.minTotal}" />
    
    <div class="grid gap-x-10 gap-y-5 md:grid-cols-2">
        <div class="ndz-input-field">
            <label for="company" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.company" /></label>
            <f:form.textfield id="company" property="company" placeholder="<f:translate key='tx_products_domain_model_product.form.company.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="gender" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.gender" />*</label>
            <f:form.select id="gender" property="gender" options="{1: '<f:translate key=\'tx_products_domain_model_product.form.gender.male\' />', 2: '<f:translate key=\'tx_products_domain_model_product.form.gender.female\' />', 3: '<f:translate key=\'tx_products_domain_model_product.form.gender.nonbinary\' />'}" />
        </div>
        <div class="ndz-input-field">
            <label for="firstname" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.firstname" />*</label>
            <f:form.textfield id="firstname" property="firstname" placeholder="<f:translate key='tx_products_domain_model_product.form.firstname.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="name" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.name" />*</label>
            <f:form.textfield id="name" property="name" placeholder="<f:translate key='tx_products_domain_model_product.form.name.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="addressline" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.addressline" /> 1*</label>
            <f:form.textfield id="addressline" property="addressline" placeholder="<f:translate key='tx_products_domain_model_product.form.addressline.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="addressline2" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.addressline" /> 2</label>
            <f:form.textfield id="addressline2" property="addressline2" placeholder="<f:translate key='tx_products_domain_model_product.form.addressline2.placeholder' />" />
        </div>
        <div class="flex gap-5">
            <div class="ndz-input-field w-34">
                <label for="postalcode" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.postalcode" />*</label>
                <f:form.textfield id="postalcode" property="postalcode" placeholder="<f:translate key='tx_products_domain_model_product.form.postalcode.placeholder' />" />
            </div>
            <div class="ndz-input-field flex-1">
                <label for="city" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.city" />*</label>
                <f:form.textfield id="city" property="city" placeholder="<f:translate key='tx_products_domain_model_product.form.city.placeholder' />" />
            </div>
        </div>
        <div class="ndz-input-field">
            <label for="country" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.country" />*</label>
            <f:form.textfield id="country" property="country" placeholder="<f:translate key='tx_products_domain_model_product.form.country.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="phone" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.phone" /></label>
            <f:form.textfield id="phone" property="phone" placeholder="<f:translate key='tx_products_domain_model_product.form.phone.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="email" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.email" />*</label>
            <f:form.textfield id="email" property="email" placeholder="<f:translate key='tx_products_domain_model_product.form.email.placeholder' />" />
        </div>
        <div class="p-3 space-y-5">
            <div>
                <div class="flex items-center gap-2">
                    <f:form.checkbox id="agb" property="agb" value="1" />
                    <label for="agb"><f:translate key="tx_products_domain_model_product.form.agb" /></label>
                </div>
                <div class="flex items-center gap-2">
                    <f:form.checkbox id="newsletter" property="newsletter" value="1" />
                    <label for="newsletter"><f:translate key="tx_products_domain_model_product.form.newsletter" /></label>
                </div>
            </div>
            <div class="ml-6">
                <h3 class="font-extrabold"><f:translate key="tx_products_domain_model_product.form.conditions" />:</h3>
                <ul>
                    <li><f:translate key="tx_products_domain_model_product.form.conditions.12term" /></li>
                    <li><f:translate key="tx_products_domain_model_product.form.conditions.30days" /></li>
                    <li><f:translate key="tx_products_domain_model_product.form.conditions.12billing" /></li>
                </ul>
            </div>
        </div>
        <div class="ndz-input-field flex flex-col">
            <label for="message" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.message" /></label>
            <f:form.textarea id="message" class="flex-1 resize-none" name="message" />
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-end gap-2">
        <button class="ndz-btn ndz-btn-outline" type="button" name="" value="">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" width="17.12" height="16.13" viewBox="0 0 17.12 16.13">
                <path d="M16.42,16.13c-.09,0-.18-.02-.26-.05-.09-.03-.17-.09-.25-.16l-2.14-2.14H4.91c-.4,0-.73-.14-1.01-.42-.28-.28-.42-.61-.42-1.01v-1.67h9.11c.39,0,.73-.14,1-.41.28-.28.42-.61.42-1.01V3.49h1.67c.4,0,.73.14,1.01.42.28.28.42.61.42,1.01v10.5c0,.22-.07.4-.23.52-.15.13-.31.19-.48.19M1.43,9.4l1.39-1.39h8.53V1.43H1.43v7.97ZM.71,11.83c-.17,0-.33-.06-.49-.19-.15-.13-.22-.3-.22-.52V1.43c0-.4.14-.73.42-1.01.28-.28.61-.42,1.01-.42h9.92c.39,0,.73.14,1,.42.28.28.42.61.42,1.01v6.58c0,.39-.14.73-.42,1.01-.28.28-.61.42-1,.42H3.4l-2.19,2.18c-.08.08-.16.14-.25.17-.09.03-.17.05-.25.05M1.43,8.01V1.43v6.58Z"></path>
            </svg>
            <f:translate key="tx_products_domain_model_product.form.discussorder" />
        </button>
        <f:form.submit class="ndz-btn" value="<f:translate key='tx_products_domain_model_product.form.completeorder' />" />
    </div>

</div>