<div class="p-5 space-y-3 bg-lightgrey md:p-10 lg:py-12 lg:px-20 lg:space-y-5 xl:space-y-12">
    <h2 class="text-base text-blue font-extrabold md:text-xl lg:text-2xl xl:text-4xl">Produktanfrage</h2>
    <f:form.textfield type="hidden" class="js-order-package-name" name="ordername" value="" />
    <f:form.textfield type="hidden" class="js-order-package" name="packageUid" value="" />
    <f:form.textfield type="hidden" class="js-order-product" name="productUid" value="" />
    <div class="grid gap-x-10 gap-y-5 md:grid-cols-2">
        <div class="ndz-input-field">
            <label for="company" class="text-blue block">Firma</label>
            <f:form.textfield id="company" name="company" placeholder="z.B. Musterfirma AG" />
        </div>
        <div class="ndz-input-field">
            <label for="gender" class="text-blue block">Anrede*</label>
            <f:form.select id="gender" name="gender" options="{1: 'Herr', 2: 'Frau', 3: 'Divers'}" />
        </div>
        <div class="ndz-input-field">
            <label for="prename" class="text-blue block">Vorname*</label>
            <f:form.textfield id="prename" name="prename" placeholder="z.B. Maximilian" />
        </div>
        <div class="ndz-input-field">
            <label for="name" class="text-blue block">Nachname*</label>
            <f:form.textfield id="name" name="name" placeholder="z.B. Mustermann" />
        </div>
        <div class="ndz-input-field">
            <label for="addressline" class="text-blue block">Adresszeile 1*</label>
            <f:form.textfield id="addressline" name="addressline" placeholder="z.B. Musterstrasse 12" />
        </div>
        <div class="ndz-input-field">
            <label for="addressline2" class="text-blue block">Adresszeile 2</label>
            <f:form.textfield id="addressline2" name="addressline2" placeholder="z.B. 2. Stock oder c/o Musterfirma AG" />
        </div>
        <div class="flex gap-5">
            <div class="ndz-input-field w-34">
                <label for="postalcode" class="text-blue block">PLZ*</label>
                <f:form.textfield id="postalcode" name="postalcode" placeholder="z.B. 3000" />
            </div>
            <div class="ndz-input-field flex-1">
                <label for="city" class="text-blue block">Ort*</label>
                <f:form.textfield id="city" name="city" placeholder="z.B. Bern" />
            </div>
        </div>
        <div class="ndz-input-field">
            <label for="country" class="text-blue block">Land*</label>
            <f:form.textfield id="country" name="country" placeholder="z.B. Schweiz" />
        </div>
        <div class="ndz-input-field">
            <label for="phone" class="text-blue block">Mobile oder Telefon</label>
            <f:form.textfield id="phone" name="phone" placeholder="z.B. +41 79 123 45 67" />
        </div>
        <div class="ndz-input-field">
            <label for="email" class="text-blue block">E-Mail*</label>
            <f:form.textfield id="email" name="email" placeholder="z.B. maximilian.mustermann@musterfirma.ch" />
        </div>
        <div class="p-3 space-y-5">
            <div>
                <div>
                    <input type="checkbox" id="agb" name="agb" />
                    <label for="agb">Ich habe die AGB gelesen und stimme ihnen zu.</label>
                </div>
                <div>
                    <input type="checkbox" id="newsletter" name="newsletter" />
                    <label for="newsletter">Ich möchte den Newsletter erhalten</label>
                </div>
            </div>
            <div>
                <h3 class="font-extrabold">Konditionen:</h3>
                <ul>
                    <li>Die Vertragslaufzeit begrägt 12 Monate.</li>
                    <li>Die Kündigungsfrist beträgt 30 Tage auf Ende der Rechnungsperiode.</li>
                    <li>Die Rechnungsperiode beträgt 12 Monate.</li>
                </ul>
            </div>
        </div>
        <div class="ndz-input-field flex flex-col">
            <label for="message" class="text-blue block">Fragen oder Kommentare</label>
            <f:form.textarea id="message" class="flex-1 resize-none" name="message" />
        </div>
        <div>
            <f:form.submit class="ndz-btn" value="Produktanfrage senden" />
        </div>
    </div>
    
    <!-- <f:form.textfield name="email" placeholder="Email" />
    <f:form.textfield name="street" placeholder="Strasse" />
    <f:form.textfield name="postalcode" placeholder="PLZ" />
    <f:form.textfield name="city" placeholder="Ort" />
    <f:form.textfield name="country" placeholder="Land" />
    <f:form.textfield name="company" placeholder="Firma" /> -->

</div>