<div class="-mx-5 p-5 space-y-3 bg-grey-100 md:-mx-10 md:p-10 lg:py-12 lg:-mx-20 lg:px-20 lg:space-y-5 xl:space-y-12">
    <h2 class="text-base text-blue font-extrabold md:text-xl lg:text-2xl xl:text-4xl"><span class="js-orderform-title"><f:translate key="tx_products_domain_model_product.request_for" /></span> <span class="js-order-package-name-text"></span></h2>
    <f:form.textfield type="hidden" class="js-order-type" property="ordertype" value="" />
    <f:form.textfield type="hidden" class="js-order-package-name" property="ordername" value="" />
    <f:form.textfield type="hidden" class="js-order-package" property="packageUid" value="" />
    <f:form.textfield type="hidden" class="js-order-product" property="productUid" value="" />
    <f:form.textfield class="js-order-total" type="hidden" name="order[total]" value="{personalised_package.minTotal}" />
    
    <div class="grid gap-x-10 gap-y-5 md:grid-cols-2">
        <div class="ndz-input-field">
            <label for="company" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.company" /></label>
            <f:form.textfield id="company" property="company" placeholder="<f:translate key='tx_products_domain_model_product.form.company.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="gender" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.gender" />*</label>
            <f:form.select id="gender" property="gender" options="{1: '<f:translate key=\'tx_products_domain_model_product.form.gender.male\' />', 2: '<f:translate key=\'tx_products_domain_model_product.form.gender.female\' />', 3: '<f:translate key=\'tx_products_domain_model_product.form.gender.nonbinary\' />'}" />
        </div>
        <div class="ndz-input-field">
            <label for="firstname" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.firstname" />*</label>
            <f:form.textfield id="firstname" property="firstname" placeholder="<f:translate key='tx_products_domain_model_product.form.firstname.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="name" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.name" />*</label>
            <f:form.textfield id="name" property="name" placeholder="<f:translate key='tx_products_domain_model_product.form.name.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="addressline" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.addressline" /> 1*</label>
            <f:form.textfield id="addressline" property="addressline" placeholder="<f:translate key='tx_products_domain_model_product.form.addressline.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="addressline2" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.addressline" /> 2</label>
            <f:form.textfield id="addressline2" property="addressline2" placeholder="<f:translate key='tx_products_domain_model_product.form.addressline2.placeholder' />" />
        </div>
        <div class="flex gap-5">
            <div class="ndz-input-field w-34">
                <label for="postalcode" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.postalcode" />*</label>
                <f:form.textfield id="postalcode" property="postalcode" placeholder="<f:translate key='tx_products_domain_model_product.form.postalcode.placeholder' />" />
            </div>
            <div class="ndz-input-field flex-1">
                <label for="city" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.city" />*</label>
                <f:form.textfield id="city" property="city" placeholder="<f:translate key='tx_products_domain_model_product.form.city.placeholder' />" />
            </div>
        </div>
        <div class="ndz-input-field">
            <label for="country" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.country" />*</label>
            <f:form.textfield id="country" property="country" placeholder="<f:translate key='tx_products_domain_model_product.form.country.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="phone" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.phone" /></label>
            <f:form.textfield id="phone" property="phone" placeholder="<f:translate key='tx_products_domain_model_product.form.phone.placeholder' />" />
        </div>
        <div class="ndz-input-field">
            <label for="email" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.email" />*</label>
            <f:form.textfield id="email" property="email" aria-required="true" required="required" placeholder="<f:translate key='tx_products_domain_model_product.form.email.placeholder' />" />
        </div>
        <div class="p-3 space-y-5">
            <div>
                <div class="flex items-center gap-2">
                    <f:form.checkbox id="agb" property="agb" value="1" aria-required="true" required="required" />
                    <label for="agb"><f:format.raw><f:translate key="tx_products_domain_model_product.form.agb" /></f:format.raw></label>
                </div>
                <div class="flex items-center gap-2">
                    <f:form.checkbox id="newsletter" property="newsletter" value="1" />
                    <label for="newsletter"><f:translate key="tx_products_domain_model_product.form.newsletter" /></label>
                </div>
            </div>
            <div class="ml-6">
                <h3 class="font-extrabold"><f:translate key="tx_products_domain_model_product.form.conditions" />:</h3>
                <ul>
                    <li><f:translate key="tx_products_domain_model_product.form.conditions.12term" /></li>
                    <li><f:translate key="tx_products_domain_model_product.form.conditions.30days" /></li>
                    <li><f:translate key="tx_products_domain_model_product.form.conditions.12billing" /></li>
                </ul>
            </div>
        </div>
        <div class="ndz-input-field flex flex-col">
            <label for="message" class="text-blue block"><f:translate key="tx_products_domain_model_product.form.message" /></label>
            <f:form.textarea id="message" class="flex-1 resize-none" name="message" />
            <f:form.textfield style="position:absolute; margin:0 0 0 -999em;" name="{honey}" />
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-end gap-2">
        <f:form.submit class="ndz-btn js-final-order-btn" value="<f:translate key='tx_products_domain_model_product.form.completeorder' />" />
    </div>

</div>