<f:asset.script identifier="accordion" src="EXT:indiz-digital-gmbh/stepping-stone-site-package/Resources/Public/JavaScript/ndz-accordion.js"/>

<div class="">
    <div class="js-accordion border-y border-gray-200 divide-y divide-gray-200">
        <f:for each="{categories}" as="category">
            <div class="ndz-accordion-item js-accordion-item">
                <h3 class="text-3.5xl text-blue font-extrabold">
                    <button class="js-accordion-header py-2 w-full flex items-center justify-between text-left cursor-pointer focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">
                        {category.name}
                        <svg class="ndz-accordion-icon js-accordion-icon" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                </h3>
                <div id="panel-1" role="region" aria-labelledby="accordion-1" class="ndz-accordion-content js-accordion-content">
                    <div class="ndz-accordion-content-inner">
                        <p><f:format.nl2br>{category.description}</f:format.nl2br></p>
                        <p class="my-5">
                            <f:link.action pageUid="3" class="ndz-btn ndz-btn-link ndz-btn-secondary text-xl" action="index" controller="Product" pluginName="Index" arguments="{category: category}">
                                Mehr erfahren
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17.14" class="fill-current w-4">
                                    <path d="M18.72,10.11H1.54c-.44,0-.8-.15-1.1-.44s-.44-.66-.44-1.1.15-.8.44-1.1c.3-.3.66-.44,1.1-.44h17.18l-4.39-4.39c-.31-.31-.46-.67-.44-1.08s.16-.77.44-1.08C14.64.17,15,.01,15.43,0c.42-.01.79.13,1.1.44l7.05,7.05c.15.15.26.32.33.5s.1.37.1.58-.03.4-.1.58-.17.35-.33.5l-7.05,7.05c-.31.31-.67.46-1.1.44s-.79-.17-1.1-.48c-.28-.31-.43-.67-.44-1.08s.13-.77.44-1.08l4.39-4.39Z"></path>
                                </svg>
                            </f:link.action>
                        </p>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</div>